

.container{
    background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.main-body{
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: absolute;
    top: 350px;
    gap: 180px;
}

.main-content{
    display: flex;
    flex-direction: column;
    text-align: start;
    text-transform: uppercase;
}


.main-btn{
    font-size: 32px;
    background: var(--white);
    color: var(--secondary-color);
    border-radius: 50%;
    border: none;
    outline: none;
    height: 272px;
    width: 272px;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    display: grid;
    place-items: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.main-btn::after{
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    background: rgb(255,255,255,0.1);
    backdrop-filter: blur(1px);
    border-radius: 50%;
    inset: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.5s ease;
    z-index: -1;
}

.main-btn:hover::after,
.main-btn:active::after{
    width: 420px;
    height: 420px;
}

.main-btn:hover{
    color: rgba(11, 13, 23, 0.5);
}

